<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Cards</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        body {
            background-size: cover;
            font: 14px/20px "Lato", Arial, sans-serif;
            color: #9E9E9E;
            margin-top: 30px;
        }

        .slide-container {
            margin: auto;
            width: 600px;
            text-align: center;
        }

        .wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .wrapper:focus {
            outline: 0;
        }

        .clash-card {
            background: white;
            width: 300px;
            display: inline-block;
            margin: auto;
            border-radius: 19px;
            position: relative;
            text-align: center;
            box-shadow: -1px 15px 30px -12px black;
            z-index: 9999;
        }

        .clash-card__image {
            position: relative;
            height: 230px;
            margin-bottom: 35px;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
        }

        .clash-card__image--barbarian {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
        }


        .clash-card__image--archer {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
        }



        .clash-card__image--giant {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
        }



        .clash-card__image--goblin {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
        }



        .clash-card__image--wizard {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
        }


        .clash-card__level {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 3px;
        }

        .clash-card__level--barbarian {
            color: #EC9B3B;
        }

        .clash-card__level--archer {
            color: #EE5487;
        }

        .clash-card__level--giant {
            color: #F6901A;
        }

        .clash-card__level--goblin {
            color: #82BB30;
        }

        .clash-card__level--wizard {
            color: #4FACFF;
        }

        .clash-card__unit-name {
            font-size: 26px;
            color: black;
            font-weight: 900;
            margin-bottom: 5px;
        }

        .clash-card__unit-description {
            padding: 20px;
            margin-bottom: 10px;
        }

        .clash-card__unit-stats--barbarian {
            background: #EC9B3B;
        }

        .clash-card__unit-stats--barbarian .one-third {
            border-right: 1px solid #BD7C2F;
        }

        .clash-card__unit-stats--archer {
            background: #EE5487;
        }

        .clash-card__unit-stats--archer .one-third {
            border-right: 1px solid #D04976;
        }

        .clash-card__unit-stats--giant {
            background: #F6901A;
        }

        .clash-card__unit-stats--giant .one-third {
            border-right: 1px solid #de7b09;
        }

        .clash-card__unit-stats--goblin {
            background: #82BB30;
        }

        .clash-card__unit-stats--goblin .one-third {
            border-right: 1px solid #71a32a;
        }

        .clash-card__unit-stats--wizard {
            background: #4FACFF;
        }

        .clash-card__unit-stats--wizard .one-third {
            border-right: 1px solid #309eff;
        }





        .clash-card__unit-stats sup {
            position: absolute;
            bottom: 4px;
            font-size: 45%;
            margin-left: 2px;
        }

        .clash-card__unit-stats .stat {
            position: relative;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .clash-card__unit-stats .stat-value {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
        }

        .clash-card__unit-stats .no-border {
            border-right: none;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .slick-prev,
        .slick-next {
            font-size: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            padding: 8px;
            border-radius: 30%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9999;
        }

        .slick-prev {
            left: 20px;
        }

        .slick-next {
            right: 20px;
        }


        /* Add your custom styles here */
        @media (max-width: 767px) {
            .wrapper {
                width: 100%;
            }

            .clash-card {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h3 class="text-center">
            Education Subjects given MWS
            <hr class="link-underline-primary" style="height: 5px; color:#EC9B3B">
        </h3>
    </div>

    <div class="slide-container container mt-1">

        {{!-- 1 --}}
        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                    <img src="images/education/afaan.png" alt="Afaan Oromo" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name"> Afaan Oromoo </div>
                <div class="clash-card__unit-description">
                    is an Afroasiatic language that belongs to the Cushitic branch. It is native to the Ethiopian state
                    of Oromia and Northern Kenya and is spoken predominantly by the Oromo people and neighboring ethnic
                    groups in the Horn of Africa
                </div>
            </div> <!-- end clash-card barbarian-->
        </div>

        <!-- end wrapper -->
        {{!-- 2 --}}
        <div class="wrapper">
            <div class="clash-card archer">
                <div class="clash-card__image clash-card__image--archer">
                    <img src="images/education/health.jpeg" alt="Saayinsii" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name">Saayinsii Walsimataa</div>
                <div class="clash-card__unit-description">
                    General Science includes an array of basic topics from the three branches of Science namely,
                    Physics, Biology, and Chemistry.
                </div>
            </div> <!-- end clash-card archer-->
        </div>
        <!-- end wrapper -->
        {{!-- 3 --}}
        <div class="wrapper">
            <div class="clash-card giant">
                <div class="clash-card__image clash-card__image--giant">
                    <img src="images/education/maths.jpg" alt="maths" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name">Herrega</div>
                <div class="clash-card__unit-description">
                    Mathematics is the science and study of quality, structure, space, and change.
                </div>

            </div> <!-- end clash-card giant-->
        </div>
        <!-- end wrapper -->
        {{!-- 4 --}}
        <div class="wrapper">
            <div class="clash-card goblin">
                <div class="clash-card__image clash-card__image--goblin">
                    <img src="images/education/lammummaa.png" alt="lammummaa" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name">Barnoota Lammummaa fi Amala Gaarii</div>
                <div class="clash-card__unit-description">
                    Civics is the study of the rights and obligations of citizens in society.
                </div>

            </div> <!-- end clash-card goblin-->
        </div>
        <!-- end wrapper -->
        {{!-- 5 --}}
        <div class="wrapper">
            <div class="clash-card wizard">
                <div class="clash-card__image clash-card__image--wizard">
                    <img src="images/education/civic.png" alt="civic" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name"> Barnoota Hawaasaa </div>
                <div class="clash-card__unit-description">
                    Social science is the study of people: as individuals, communities and societies; their behaviours
                    and interactions with each other and with their built, technological and natural environments.
                </div>

            </div> <!-- end clash-card wizard-->
        </div>
        <!-- end wrapper -->
        {{!-- 4 --}}
        <div class="wrapper">
            <div class="clash-card goblin">
                <div class="clash-card__image clash-card__image--goblin">
                    <img src="images/education/english.jpg" alt="english" style="max-width: 100%; height: auto;" />
                </div>
                <div class="clash-card__unit-name"> Afaan Ingiliizii </div>
                <div class="clash-card__unit-description">
                    English is widely spoken and taught in over 118 countries and is commonly used around the world as a
                    trade language or diplomatic language.
                </div>

            </div> <!-- end clash-card goblin-->
        </div>
        <!-- end wrapper -->
    </div> <!-- end container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script>
        (function () {
            function initSlick() {
                var slideContainer = $(".slide-container");

                if (slideContainer.length > 0) {
                    slideContainer.slick();

                    $(".clash-card__image img").hide();
                    $(".slick-active").find(".clash-card img").fadeIn(200);

                    // On before slide change
                    slideContainer.on("beforeChange", function (event, slick, currentSlide, nextSlide) {
                        $(".slick-active").find(".clash-card img").fadeOut(1000);
                    });

                    // On after slide change
                    slideContainer.on("afterChange", function (event, slick, currentSlide) {
                        $(".slick-active").find(".clash-card img").fadeIn(200);
                    });
                }
            }

            // Check if jQuery is loaded
            if (typeof jQuery == "undefined") {
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = "https://code.jquery.com/jquery-3.6.4.min.js";
                script.onload = initSlick;
                document.head.appendChild(script);
            } else {
                initSlick();
            }
        })();

    </script>

</body>

</html>