<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Education</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!--css  link-->
    <link rel="stylesheet" href="../src/css/style.css">


    <!--- JQuery --->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
    <!--- Style Starts-->
    <style>
        .row :hover {
            translate: translateX(0.3s);
        }
    </style>
    <!--- Style Starts -->

    <section class="text-center p-4">
        <h4 class="mb-5"><strong>Supportive knowledge Given in Bilal Madrasa</strong></h4>

        <div class="row">

            <!--- 1 --->
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/img/skill/skill.png" class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Different Skills </h5>
                        <p class="card-text">
                            Bilal Madrasa focuses on nurturing a diverse set of skills in its students, aiming to
                            provide a well-rounded and comprehensive education.
                        </p>
                    </div>
                </div>
            </div>

            <!----- 2 ---->
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/img/skill/history.png" class="img-fluid">
                        <a href="#">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Seenaa/History</h5>
                        <p class="card-text">
                            History education at Bilal Madrasa is contextualized within the local, national, and
                            global context. Students develop a sense of interconnectedness and an understanding of how
                            historical events are interrelated.
                        </p>
                    </div>
                </div>
            </div>

            <!----- 3 ---->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/img/skill/arabic.png" class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Arabic Language </h5>
                        <p class="card-text">
                            We are excited to announce that Bilal Madrasa is now offering Arabic Language courses
                            as part of our diverse and enriching curriculum. Our commitment to providing a well-rounded
                            education includes embracing linguistic diversity and cultural exploration.
                        </p>
                    </div>
                </div>
            </div>

            <!----- 4 ---->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/img/skill/software.jpeg" class="img-fluid">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> IT (Information Technology) </h5>
                        <p class="card-text">
                            The IT program at Bilal Madrasa is designed to equip students with a strong foundation
                            in
                            computing, programming, and information systems. Our goal is to prepare students for the
                            digital age
                            and empower them to thrive in an increasingly technology-driven world.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>