<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<!-- Testimonial  Starts -->
<style>
    .gradient-custom {
        background: radial-gradient(100% 148.07% at 0% 0%, #eeeee7 0%);
        background-blend-mode: screen, color-dodge, overlay, difference, normal;
    }

    .testimonial-card .card-up {
        height: 90px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .testimonial-card .avatar {
        height: 110px;
        width: 260px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    .text-column {
        display: block;
    }
</style>

<section class="gradient-custom p-2 pb-5">
    <div class="row w-100 p-1">

        <div class="text-column" style="padding-bottom: 30px;">
            <h3 class="text-center">Testimonial About : ~ MWS </h3>
        </div>

    </div>

    <div class="text-column">
        <div class="row text-center d-flex align-items-stretch">
            <!-----  1  -->
            <div class="col-md-3 mb-4 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #9d789b;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/testimonial/ustaz_abdusabur.jpg" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Sheikh Abdusabur Mohammed</h4>
                        <h5 class="mb-4">IMAM Masjid Al-Nur</h5>
                        <h6 class="mb-4">Preacher and Ustaz </h6>
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2 text-primary"></i>
                            MWS , is committed to ensuring that all students learn and engage at the highest levels.
                        </p>
                        <a href="https://www.facebook.com/abu.safwan.969">
                            <i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/@ustaazabdusabuurofficial3311"> <i class="fa-brands fa-youtube"
                                style="color:red"></i></a>
                    </div>
                </div>
            </div>

            <!-----  2  -->

            <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #9d789b;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/testimonial/ustaz_abdureuf.jpg" class="rounded-circle img-fluid width=80"
                            width="90" height="90" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Ustaz Abdureuf Husein Wariyo </h4>
                        <h5 class="mb-4">MA.in Edu.Leadership & Management </h5>
                        <h6 class="mb-4">Teacher and Preacher</h6>
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2 text-primary"></i>
                            Manni Barumsaa Malkaa Walinii, barattoonni hundi sadarkaa olaanaatti akka baratanii fi
                            bobba’an gochuuf kutannoo
                            qaba.
                        </p>
                        <a href="https://youtube.com/@AbdureufHusein?si=HyVG6RL8rgFstw8h"> <i
                                class="fa-brands fa-youtube" style="color:red"></i></a>
                        <a href="mailto: Abdureufhusein5@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-----  3  -->
            <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #7a81a8;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/blog2.png" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Ahmed Hussen</h4>
                        <h5 class="mb-4">Director </h5>
                        <h6 class="mb-4">Teacher at MWS </h6>

                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2 text-primary"></i>
                            Manni Barumsaa Malkaa Walinii, naannoo barumsaa barataan hundi itti caalu, dammaqinaan itti
                            hirmaatu, fi gahumsa
                            barnootaa itti hammate guddisuuf quuqama guddaa qaba.
                        </p>
                    </div>
                </div>
            </div>

            <!-----  4  -->

            <div class="col-md-3 mb-0 d-flex align-items-stretch">
                <div class="card testimonial-card">
                    <div class="card-up" style="background-color: #6d5b98;"></div>
                    <div class="avatar mx-auto bg-white">
                        <img src="/images/testimonial/anwar.png" class="rounded-circle img-fluid" />
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4">Eng. Anwar Mohammed </h4>
                        <h5 class="mb-4">Bsc. Computer Science</h5>
                        <h6 class="mb-4">CEO </h6>
                        {{!-- <h6 class="mb-4">CEO of NileTech Plc</h6> --}}
                        <hr />
                        <p class="dark-grey-text mt-4">
                            <i class="fas fa-quote-left pe-2 text-primary"></i>
                            Manni Barumsaa malkaa Walinii, barataan kamiyyuu barumsaa fi hirmaannaan akka sadarkaa
                            olaanaa galmeessanniif kan hojjetudha.
                        </p>
                        <a href="https://facebook.com/binmhmd99/">
                            <i class="fab fa-facebook-f"></i></a>
                        <a href="https://t.me/binmhmd99">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a href="https://twitter.com/binmhmd11">
                            <i class="fa-brands fa-x-twitter" style="color: black;"></i>
                        </a>
                        <a href="https://twitter.com/binmhmd11">

                        </a>
                        <a href="http://www.alanwarmam@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true" style="color: red;"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!----Testimonial  Starts--->

<script src="script.js"></script>