<div class="p-2 d-flex flex-column align-items-center">
    <div>
        <img src="img/bilal_madrasa_logo.png" style="height: 80px; width: 200px;" alt="">
    </div>
    <div>
        <h3 class="text-center"><i class="fas fa-book-reader"></i> Sign Up</h3>
        <div class="container mt-4">
            <p class="lead text-center">Welcome to our platform! Signing up allows you to access exclusive features and
                personalized content. Join our community of learners today and embark on a journey of knowledge and
                discovery.</p>
        </div>
        <hr class="my-4">
        <div class="container mt-4 text-center">
            <a href="/auth/google" class="btn btn-primary">
                <i class="fab fa-google me-2"></i> Log In With Google
            </a>
        </div>
    </div>
</div>

<!-- Additional content at the end of the page -->
<ul class="footer-links">
    <li><a href="/terms">Terms of service</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
</ul>
<div class="copyright">
    &copy; Copyright <strong><span>Bilal Madrasa</span></strong>. All Rights Reserved
</div>
<div class="credits">
    Designed by <a href="https://NileTech.com/">NileTech Plc</a>
</div>