<style>
    #hr_about {
        border: 2px solid rgb(43, 253, 1);
    }

    #hr_wpb_column {
        border: 2px solid rgb(245, 33, 5);
    }

    .entry_content {
        display: flex;
    }

    .vc_row {
        flex-basis: 67%;
        padding-top: 50px;
        padding-right: 40px;
    }

    .wpb_column {
        flex-basis: 33%;
        padding-bottom: 30px;
        padding-left: 10px;
    }
</style>


<!-- ====== Breadcrumbs ====== -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2> Vission and Mission</h2>

                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Vission</li>
            </ol>
        </div>
    </nav>
</div>
<!--- End Breadcrumbs --->




<div class="row_basic">
    <div id="primary" class="content_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <main id="main" class="site-main">
                        <article id="post-2764" class="post-2764 page type-page status-publish hentry">
                            <div class="entry_content">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-8">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <hr
                                                            style="border-top: 5px solid rgb(0, 103, 184); display: none;">
                                                        <div class="region region-content">
                                                            <div id="block-system-main"
                                                                class=" region-block contextual-links-region">
                                                                <div class="content clearfix">
                                                                    <div id="node-107" class="node node-page clearfix">
                                                                        <div class="content clearfix">
                                                                            <div
                                                                                class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                                                <div class="field-items">
                                                                                    <div class=" field-item even">

                                                                                        {{!-- 1 --}}
                                                                                        <div class="field-item even">
                                                                                            <strong><img
                                                                                                    style="padding-left: 40px; padding-bottom:40px;"
                                                                                                    alt="amir image"
                                                                                                    width="378"
                                                                                                    height="377"
                                                                                                    data-sizes="(max-width: 278px) 100vw, 278px"
                                                                                                    class="wp-image-2100 alignleft lazyloaded"
                                                                                                    src="/img/bilal_madrasa_logo.png"
                                                                                                    sizes="(max-width: 278px) 100vw, 278px"
                                                                                                    <pstyle="padding-left: 50px;">
                                                                                                <p>Vision</p>
                                                                                                </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>

                                                                                        <div class="field-item even"
                                                                                            style="text-align: justify;">
                                                                                            Aspires to be one of the
                                                                                            Leading School in east
                                                                                            oromia and Renowned in
                                                                                            the country by 2030.
                                                                                        </div>
                                                                                        {{!-- 1 Afaan oromo --}}
                                                                                        <div style="padding-left:100px;"
                                                                                            class="field-item even">
                                                                                            <strong>
                                                                                                <p> Mul'ata
                                                                                                </p>
                                                                                                </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>
                                                                                        <div style="padding-left:100px;"
                                                                                            class="
                                                                                                field-item even"
                                                                                            style="text-align: justify;">
                                                                                            Bara 2030tti Mana
                                                                                            Barumsaa
                                                                                            baha oromiyaa keessatti
                                                                                            Dursaa fi Biyyattii
                                                                                            keessatti Beekkamaa
                                                                                            ta'uuf
                                                                                            hawwii qaba.
                                                                                        </div>
                                                                                        {{!-- 2 --}}
                                                                                        <div class="field-item even">
                                                                                            <strong><img
                                                                                                    style="padding-left: 40px; padding-bottom:40px;">
                                                                                                <p>Mission</p>
                                                                                                </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>
                                                                                        <div class="field-item even"
                                                                                            style="text-align: justify;">

                                                                                            Bilal Madrasa is
                                                                                            committed to Engaging in
                                                                                            Core Functions of
                                                                                            quality Teaching,
                                                                                            Research and Community
                                                                                            Services.
                                                                                            &nbsp;
                                                                                        </div>
                                                                                        {{!-- 2 Afaan oromo --}}
                                                                                        <div style="padding-left:100px;"
                                                                                            class="field-item even">
                                                                                            <strong>
                                                                                                <p> Ergama
                                                                                                </p>
                                                                                                </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>
                                                                                        <div style="padding-left:100px;"
                                                                                            class="
                                                                                                field-item even"
                                                                                            style="text-align: justify;">
                                                                                            Manni Barumsaa Madrasaa
                                                                                            Bilaal Hojiiwwan Ijoo
                                                                                            Tajaajila Barsiisuu,
                                                                                            Qorannoo fi Hawaasaa
                                                                                            qulqullina qabu irratti
                                                                                            Bobba’uuf kutannoo qaba.
                                                                                        </div>
                                                                                        {{!-- 3 --}}
                                                                                        <div class="field-item even">
                                                                                            <p>Goals</p>
                                                                                            </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>
                                                                                        <div class="field-item even"
                                                                                            style="text-align: justify;">
                                                                                            To build culture of
                                                                                            academic excellence that
                                                                                            champions students’
                                                                                            success in intellectual
                                                                                            expertise.

                                                                                            &nbsp;
                                                                                        </div>
                                                                                        <div class="field-item even"
                                                                                            style="text-align: justify;">

                                                                                            To empower the community
                                                                                            by giving a good quality
                                                                                            education to their
                                                                                            children
                                                                                            &nbsp;
                                                                                        </div>
                                                                                        {{!-- 3 Afaan oromo --}}

                                                                                        <div style="padding-left:100px;"
                                                                                            class="field-item even">
                                                                                            <strong>
                                                                                                <p> Galma
                                                                                                </p>
                                                                                                </p> &nbsp;
                                                                                            </strong>
                                                                                        </div>
                                                                                        <div style="padding-left:100px;"
                                                                                            class="
                                                                                                field-item even"
                                                                                            style="text-align: justify;">
                                                                                            Aadaa gahumsa barnootaa
                                                                                            kan milkaa’ina
                                                                                            barattootaa ogummaa
                                                                                            sammuutiin shaampiyoonaa
                                                                                            ta’e ijaaruu.

                                                                                            Ijoollee isaaniif
                                                                                            barnoota qulqullina
                                                                                            gaarii qabu kennuun
                                                                                            hawaasa humneessuu
                                                                                        </div>


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wpb_column vc_column_container vc_col-sm-4 "
                                    style="padding-right: 20px; padding-top:110px; text-decoration:none;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper">
                                                    <div id="container" style="text-decoration: none;">
                                                        <ul>
                                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                                border="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <h3
                                                                                style="padding-top: 20px; padding-bottom: 20px;">
                                                                                About Bilal Madrasa </h3>
                                                                            <ul style="padding-left:30px;">
                                                                                <li style="padding-top: 10px;">
                                                                                    <strong><a href="/directormessage"
                                                                                            style="text-decoration:none;">●
                                                                                            Director's Message
                                                                                        </a></strong>
                                                                                </li>

                                                                                <li style="padding-top: 10px;">
                                                                                    <strong><a
                                                                                            href="/vission-and-mission"
                                                                                            style="text-decoration:none;">●
                                                                                            Vision and
                                                                                            Mission</a></strong>
                                                                                </li>
                                                                                <li
                                                                                    style="padding-top: 10px; padding-bottom: 20px;">
                                                                                    <strong><a href="/contact"
                                                                                            style="text-decoration:none;">●
                                                                                            Contact Us</a></strong>
                                                                                </li>

                                                                            </ul>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </ul>
                                                    </div>

                                                    <style>
                                                        tr {
                                                            border-bottom: 2px solid red;
                                                        }

                                                        tr {
                                                            border-top: 2px solid #0067b8;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr id="hr_wpb_column">


                                </div>
                            </div>
                </div>
                </article>
                </main>
            </div>
        </div>
    </div>
</div>
</div>